@model Models.Dto.AlunoDto
@{
    ViewData["Title"] = "Cadastrar";
}
<div class="row mt-4">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h6 class="mb-0">
                    <i class="card-icon mdi mdi-cloud-search text-primary icon-md" style="margin-right: 15px"></i>Cadastrar
                </h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">Acesse o curso case utilizando suas informações de login</h5>
                @using (Html.BeginForm("Cadastrar", "Home", FormMethod.Post))
                {
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Nome">Nome*</label>
                            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dtNascimento">Data Nascimento*</label>
                            @Html.TextBoxFor(m => m.DataNascimento, new { @id = "dtNascimento", @class = "form-control", @type = "date" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Email">Email*</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Senha">Senha*</label>
                            @Html.TextBoxFor(m => m.Senha, new { @class = "form-control", @type = "password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mr-2">
                            Cadastrar
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @*<script type="text/javascript">
        $(document).ready(function () {
        });
        $(window).on("load", function () {
            console.log("window loaded");
            $('#dtNascimento').datepicker();
        });
    </script>*@
}