@{
    ViewData["Title"] = "Home Page";
}
<div class="row mt-4">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h6 class="mb-0">
                    <i class="card-icon mdi mdi-cloud-search text-primary icon-md" style="margin-right: 15px"></i>Entrar
                </h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">Já tem cadastro, clique no link para o login</h5>
                <a class="card-link" asp-controller="Home" asp-action="Login">
                    Entrar
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h6 class="mb-0">
                    <i class="card-icon mdi mdi-cloud-search text-primary icon-md" style="margin-right: 15px"></i>Criar Conta
                </h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">Clique no link para se cadastrar</h5>
                <a class="card-link" asp-controller="Home" asp-action="Cadastrar">
                    Registre-se
                </a>
            </div>
        </div>
    </div>
</div>